<!--connect-->
<div class="container-fluid pading">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
      <a [routerLink]="['/connect']"><i class="fab fa-facebook"></i></a>
      <a [routerLink]="['/connect']"><i class="fab fa-twitter"></i></a>
      <a [routerLink]="['/connect']"><i class="fab fa-google-plus-g"></i></a>
      <a [routerLink]="['/connect']"><i class="fab fa-instagram"></i></a>
      <a [routerLink]="['/connect']"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
