<app-navbar></app-navbar>


    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5" style="background-image: url(../assets/cook_logo.png);">
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Welcome to Sevarth - Serve On The Go</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>We at "Sevarth-serve on the go" offer clean up and cooking services along with medication which is linked through an online pharmacy. One unique aspect of our start-up is, we provide post-hangover services too. We clean up the mess, cook a healthy, nutritious breakfast for our customers, right from buying thee groceries to serving it hot and ready. We also help them freshen up, provide them with buttermilk for hydration and a cure for headache if needed.</p>
							<p>One unique aspect of our start-up is, we provide post-hangover services too. We clean up the mess, cook a healthy, nutritious breakfast for our customers, right from buying thee groceries to serving it hot and ready. We also help them freshen up, provide them with buttermilk for hydration and a cure for headache if needed.</p>
							<p><a [routerLink]="['/servicehome']" class="btn btn-primary">Shop now</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest services and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="jumbotron">
      <div class="row w-100">
              <div class="col-md-3">
                  <div class="card border-info mx-sm-1 p-3">
                      <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                      <div class="text-info text-center mt-3"><h4>Happy Customers</h4></div>
                      <div class="text-info text-center mt-2"><h1>23405</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card border-success mx-sm-1 p-3">
                      <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-building" aria-hidden="true"></span></div>
                      <div class="text-success text-center mt-3"><h4>Branches</h4></div>
                      <div class="text-success text-center mt-2"><h1>115</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card border-danger mx-sm-1 p-3">
                      <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fas fa-handshake" aria-hidden="true"></span></div>
                      <div class="text-danger text-center mt-3"><h4>Partners</h4></div>
                      <div class="text-danger text-center mt-2"><h1>346</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card border-warning mx-sm-1 p-3">
                      <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fas fa-award" aria-hidden="true"></span></div>
                      <div class="text-warning text-center mt-3"><h4>Awards</h4></div>
                      <div class="text-warning text-center mt-2"><h1>14</h1></div>
                  </div>
              </div>
           </div>
      </div>

<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bolder my-5">Testimonials</h2>
    <!-- Section description -->
    <p style="font-weight: bold" class="dark-grey-text w-responsive mx-auto mb-5">Our satisfied customer says</p>

    <!-- Grid row -->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!--Card-->
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up info-color"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="assets/pfp.png" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <!--Name-->
            <h4 class="font-weight-bold mb-4">Tanmai Kumar</h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>It's just magic. Daily life became a heck of a lot easier. They are really the best in the field</p>
          </div>
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
        <!--Card-->
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up blue-gradient">
          </div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="assets/pfp.png" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <!--Name-->
            <h4 class="font-weight-bold mb-4">Dhruva Kumar</h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>It's just magic. Daily life became a heck of a lot easier. They are really the best in the field</p>
          </div>
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6">
        <!--Card-->
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up indigo"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="assets/pfp.png" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <!--Name-->
            <h4 class="font-weight-bold mb-4">Vinay Varma</h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>It's just magic. Daily life became a heck of a lot easier. They are really the best in the field</p>
          </div>
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Testimonials v.1 -->

    <section class=" bg-light">
			<div class="container">
				<div class="row no-gutters">
          <div class="col-xs-12 col-sm-6 col-md-4 text-center align-self-stretch">
            <div >
              <div >
                <h3 >Availability</h3>
                <span>We are always available</span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 text-center align-items-center ">
            <div >
              <div >
                <h3 >Superior Quality</h3>
                <span>Quality Services </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 text-center  align-items-center">
            <div >
              <div >
                <h3 >Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>






<app-social></app-social>
<app-footer></app-footer>
