main {
  width: 80%;
  margin: 1rem auto;
}

.custom-badge .mat-badge-content {
  width: fit-content;
  text-align: center;
  border-radius: 7px;
  left: 13px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
