<app-navbar></app-navbar>

<div class="container">
    <h2>Our Services</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="single-service text-center">
        <i class="fas fa-blender"></i>
        <h3>Cooking</h3>
        <hr>
        <p>We provide best cooking services. All you need to do is to click the button below</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="single-service text-center">
        <i class="fa fa-home"></i>
        <h3>Cleaning</h3>
        <hr>
        <p>You are busy and can't clean your house, don't worry, just click the button and watch the magic happen.</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="single-service text-center">
        <i class="fas fa-ambulance"></i>
        <h3>Pharamacy</h3>
        <hr>
        <p>We provide best delivery services for regular drugs. We are just a click away.</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div style="text-align: center">
<button class="button" [routerLink]="['/serviceam']"><span>Order</span></button></div>
<hr>
<app-social></app-social>>
<app-footer></app-footer>
