<app-navbar></app-navbar>


<!-- <img src="../assets/mopping.gif" style="height:300px; width:300px;">-->
<!--<div style="background-image: url(../assets/dota.jpg)">
<main>

<mat-card>
<form #addressform="ngForm" (submit)="onFormSubmit(addressform)">
<mat-form-field >
  <mat-label>Choose a service</mat-label>
  <mat-select #serviceeName required ngModel name="serviceName" >
    <mat-option *ngFor="let ser of serviceNames" [value]="ser">
      {{ser}}
    </mat-option>
  </mat-select>
</mat-form-field><br>



<mat-form-field>
  <input class="form-control" required name="date" matInput [matDatepicker]="picker" ngModel placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field><br>








<mat-form-field >
    <mat-label>Choose a time</mat-label>
  <input class="form-control" required name="time" ngModel matInput type="time">
</mat-form-field><br>



<button mat-raised-button color="accent" type="submit">Next</button>
</form>
</mat-card>
</main>
</div>-->
<!--
<div style="background-image: url(../assets/dota.jpg)">
<main >
<br>
<br>
<br>
<div class="container">
    <div class="progress" style="margin-block: auto; height: 10%;">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width:0%">
          <span style="font-weight: bolder; color: black">0% Complete</span>
        </div>
      </div>
      <br><br><br>
<form #addressform="ngForm" (submit)="onFormSubmit(addressform)">
  <div class="form-group">
    <label for="serviceName" *ngIf="flag1 === 0 ">Choose a service</label>
    <label for="serviceName" style="color: red;" *ngIf="flag1 === 1" >Choose a service</label>
    <select #serviceName name="serviceName" class="form-control" id="serviceName" required ngModel>
      <option *ngFor="let ser of serviceNames" [value]="ser">{{ser}}</option>
    </select>
  </div>
  <br>


  <div [hidden]="serviceName.value != 'Pharamacy'" class=" alert alert-info" role="alert"><br>
    Drugs can be bought as one strip only!<br>
  </div>
<div [hidden]="serviceName.value != 'Pharamacy'"><br>
<div class="form-group">
    <label>Select the drug</label>
    <select ngModel name="drug" >
      <option *ngFor="let drug of drugs" [value]="drug">
        {{drug}}
      </option>
    </select>
</div><br></div>

<div [hidden]="serviceName.value != 'Cooking'" class=" alert alert-info" role="alert"><br>
    Our team will contact you for dish and groceries details!<br>
  </div>


    <div [hidden]="serviceName.value != 'Cleaning'" ><br>
              <label>Select number of rooms : {{ rooms.value }}</label> <br>
              <input type="range" class="custom-range" min="1" max="5" step="1" value="1" ngModel name="rooms" #rooms><br><br>

    </div>

    <div [hidden]="serviceName.value != 'Cooking'" ><br>
            <label>Select number of persons : {{ persons.value }}</label><br>
              <input type="range" class="custom-range" min="1" max="5" step="1" value="1" ngModel name="persons" #persons><br><br>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1" name="groceries" #groceries ngModel>
                <label class="custom-control-label" for="switch1">Bring Sevarth groceries ?</label>
              </div>
    </div>



<br><br>
  <div class="form-group ">
    <label for="date" *ngIf="flag2 === 0 && flag4 === 0">Select date</label><br>
    <label for="serviceName" style="color: red;" *ngIf="flag4 === 1" >Select date</label>
    <div *ngIf="flag2===1 || flag4===1"><br></div>
    <input type="date" #date  name="date" class="form-group" required ngModel>

  </div>
<br><br>
  <div class="form-group ">
      <label for="time" *ngIf="flag3===0">Select time</label><br>
      <label for="serviceName" style="color: red;" *ngIf="flag3 === 1" >Select time</label><div *ngIf="flag3===1"><br></div>
      <input type="time" #time name="time" class="form-group" required ngModel>
  </div>
  <br>
  <div style="text-align: center">
      <button class="button" [routerLink]="['/servicesfinal']"><span>Next</span></button></div>
</form>
</div>
</main>
</div>
<app-social></app-social>>
<app-footer></app-footer>
-->
